      
      <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
      <link rel="stylesheet" href="/css/estilos.css" type="text/css">
      <link rel="stylesheet" href="/css/style.css" type="text/css">
      <style>
         h2 {
            color: #000;
            font-weight: bold; 
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            text-shadow:   
                           0px 0 0px rgba(0,0,0,.1),
                           5px 5px 3px rgba(0,0,0,.3),
                           10px 10px 6px rgba(0,0,0,.2),
                           15px 15px 18px rgba(0,0,0,.4);
         }
      </style>
   </head>

   <body>

      {{> navigation}}

      <img class="wave" src="/img/w.png">
      <div class="container">
         <div class="img mx-auto">
            <img src="/img/Innova Tech'S.png">
         </div>
         <div class="login-content mx-auto">
            <form>

               <img src="/img/SysNot'S2.png" id="img_logoL"/>
               <h2 class="title">BIENVENIDO</h2>

               <div class="input-div one">
               </div>

               <p style="text-align: justify;">SysNot'S, es un sistema de gran utilidad, el cual permite agregar notas a vuestro gusto. Sirve para guardar notas de manera ordenada y a su vez de manera clara, no solo permite guardar, sino también editar e incluso eliminar aquella nota que ya se haya cumplido.</p>
                  
            </form>
         </div>
      </div>

      <script src="/js/jquery.min.js"></script>
      <script src="/js/bootstrap.min.js"></script>
      <script src="/css/fontawesome/js/all.min.js"></script>