@import url('Poppins_letter.css');

body {
	width: 100%;
   height: 100%;
	background-position: center center;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
	color: #ffffff;
	font-family: 'Poppins', sans-serif;
	/* overflow: hidden; */
}

p {
	color: #000;
}

a{
	text-decoration: none;
	color: #999;
	font-size: 0.9rem;
	transition: .3s;
}

#img_logo {
	width: 50px; 
	height: 50px;
}

#img_logoL {
	width: 100px; 
	height: 100px;
}

nav{
	border-radius: 7.5px;
	padding: 3px;
	transition: 2s;
	box-shadow: 0px 0px 0px #f6b6a2, 0px 0px 15px #D84315;
}

#foto {
	width: 100px; 
	height: 100px;
}

#distribuidores-index{
	box-shadow: 0px 0px 0px #CCCCCC, 0px 0px 15px #6E5BA7;
   border-radius:3px;
   color: #000;
   background-color:rgba(0,0,0,0.02);;
}

/*CSS del Reloj*/


/*Adaptarlo a pantalla de tablet o telefonos*/
@media screen and (max-width: 600px){
	.slider .caption p{
		display: none;
	}

	.slider .caption h1{
		font-size: 30px;
	}

	.left, .right{
		font-size: 25px;
	}

	.slider li img{
		width: 600px;
	}

	/*.pagination{
		display: none;
	}*/
}