<div class="row">
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark col-md-12">
      &nbsp;&nbsp;&nbsp;
      <img src="/img/SysNot'S2.png" class="ml-2" id="img_logo"/>
      
      &nbsp;&nbsp;&nbsp;
      <a class="navbar-brand" href="/"><b>SysNot'S</b></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav mr-auto">
            {{!-- <li class="nav-item">
               <a class="nav-link" href="/laboratorios"><b>Laboratorios</b></a>
            </li>
            <li class="nav-item">
               <a class="nav-link" href="/newlab"><b>Nuevo Lab</b></a>
            </li> --}}
            <li class="nav-item">
               <a class="nav-link" href="/team">
                  <b>
                     &nbsp;&nbsp;
                     <i class="fas fa-users" style="color: #fff;"></i>
                     &nbsp;
                     Equipo de Trabajo
                  </b>
               </a>
            </li>

            <li class="nav-item">
               <a class="nav-link" href="/comments">
                  <b>
                     &nbsp;&nbsp;
                     <i class="far fa-comments" style="color: #fff;"></i>
                     &nbsp;
                     Comentarios
                  </b>
               </a>
            </li>
         </ul>
         
         <a class="nav-link pr-5" href="/login" target="_blank" style="color: #fff;">
            <b>
               &nbsp;&nbsp;
               <i class="fas fa-sign-in-alt" style="color: #fff;"></i>
               &nbsp;
               Log in
            </b>
         </a>

      </div>
   </nav>
</div>