<!DOCTYPE html>
<html>
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Sistema de Notas Personales - SysNot'S</title>
      <link rel="shortcut icon" href="/img/SysNot'S2.ico" type="image/x-icon">

      {{{body}}}

      <script>
         $(function () {
            $('[data-toggle="popover"]').popover()
         });

         $('.popover-dismiss').popover({
            trigger: 'focus'
         });
      </script>
   </body>
</html>